@charset "utf-8";
* {
    box-sizing: border-box;
}
body {
  background: $tan;
  color: $slate;
  text-align: center;
  font-family: "Ideal Sans A", "Ideal Sans B";

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-align: left;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
  color: rgba($slate, .5);
}
