@charset "utf-8";
* {
    box-sizing: border-box;
}
body {
  background: $tan;
  color: $slate;
  text-align: center;
  font-family: "Ideal Sans A", "Ideal Sans B";

}

h1 {
  font-size: 22px;
  font-weight: 300;
}
