$toplevel_width: 60px;

$slate: #2d2d2d;
$ink: #3d3d3d;
$faint-border: #e4e0df;
$platinum: linear-gradient(#ffffff 0%, #faf8f7 100%);
$tan: #f4f0ef;

body {
  font-family: "Ideal Sans A", "Ideal Sans B";
}

i {
  display: inline-block;
  &:before {
    font-size: 50px;
  }
}

.btn {
  background: $platinum;
  border: 1px solid #cdcac9;
  box-shadow: 0px 1px 3px rgba(0,0,0,.03);
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  color: rgba($ink, .5);
  text-decoration: none;
  font-size: 14px;
  &:hover {
    background: white;
    color: rgba($ink, .8);
  }
}

.card {
  background: white;
  box-shadow: 0px 1px 3px rgba(0,0,0,.07);
  border-radius: 3px;
  padding: 20px;
}
