.top_level {
  background: #333333;
  width: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.side_bar {
  width: 275px;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  border-right: 1px #e4e0df solid;
}
