.mainwindow {
  position: absolute;

  height: 3000px;
  left: 285px + 60px; // sidebar + toplevel;
  right: 0;
  top: 0;
  bottom: 0;

  .top_section {
    position: fixed;
    top: 0;
    right: 0;
    height: $toplevel_width;
    border-bottom: 1px $faint-border solid;
    left: 285px + 60px; // sidebar + toplevel;
    background: $tan;
    .btn {
      float: left;
      margin-top: 15px;
    }
  }
  .document {
    h1 {
      text-align: left;
    }
    padding: 0px 40px 0px 0px;
    padding-top: $toplevel_width * 1.5;
  }
}
