.mainwindow {
  position: absolute;

  height: 3000px;
  left: 285px + 60px; // sidebar + toplevel;
  right: 0;
  top: 0;
  bottom: 0;

  .top_section {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    top: 0;
    right: 0;
    height: $toplevel_width;
    border-bottom: 1px $faint-border solid;
    left: 285px + 60px; // sidebar + toplevel;
    background: $tan;

    .btn {
      float: left;
    }
  }
  .document {
    h1 {
      text-align: left;
    }
    padding: 0px 40px 0px 0px;
    padding-top: $toplevel_width * 1.5;
  }
  .back-btn {
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    color: rgba($ink, .4);
    transition: color .15s;
    &:hover {
      color: rgba($ink, 1);
    }
    i {
      position: absolute;
      left: -20px;
      top: 3px;
      &:before {
        line-height: 60px;
      }
    }
  }
  .comparison-switcher {
    position: relative;
    color: rgba($ink, .8);
    padding: 0 40px 0 15px;
    line-height: 33px;
    &:hover {
      i {
        color: rgba($ink, .8);
      }
    }
    span {
      color: rgba($ink, .4);
    }

    i {
      position: absolute;
      right: -5px;
      top: -10px;
      color: rgba($ink, .3);
      transition: color .1s;
      &:before {
        line-height: 60px;
      }
    }
  }
}
