.side_bar {

  left: $toplevel_width;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  .top_section {
  }
  .side_bar_inner {
    width: 285px;
  }
  .survey-name {
    color: $ink;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 60px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-left: 20px;
    padding-right: 60px; // controls ellipsis
  }
}
.configure-survey {
  height: 60px;
  width: 45px;
  position: absolute;
  right: 85px;
  top: 0;
  padding: 5px;
  color: rgba($slate, .2);
  transition: color .1s;
  &:hover {
    color: rgba($slate, .5);
  }
}
ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: column;

  li {
    width: 100%;
    height: 60px;
    color: white;
  }
}
.reports-nav-wrapper {
  position: relative;
  padding: 20px 30px 20px 20px;
  &.open {
    ul.options {
      transition: all 200ms cubic-bezier(0.34,1.61,0.7,1);
      transform: scale(1);
      opacity: 1;
    }
  }
  ul.options {
    transition: all 100ms ease-out;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 30%;
    box-shadow: 0px 1px 5px rgba(0,0,0,.3);
    width: 235px;
    top: -30px;
    position: absolute;
    background: #fcfaf9;
    border-radius: 3px;

    list-style: none;
    text-align: left;
    z-index: 2;
    padding: 0;
    box-shadow: 0px 1px 10px rgba(0,0,0,.15);
    li {
      position: relative;
      display: block;
      line-height: 38px;
      border-bottom: 1px solid rgba($ink, .1);
      padding: 0px 10px;
      padding-left: 50px;
      display: block;
      color: rgba($ink, .5);
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      font-weight: 300;
      &.selected {
        color: $coral !important;
      }
      &:hover {
        background: white;
        color: rgba($ink, .75);
      }
      &:last-child {
        border: none;
      }
      i {
        position: absolute;
        left: 0px;
        top: -3px;
      }
      img {
        position: absolute;
        height: 16px;
        width: 16px;
        left: 15px;
        top: 11px;
      }
    }
  }
}




.reports-nav {
  display: block;
  line-height: 43px;
  padding: 0;
  text-align: left;
  padding-left: 50px;
  position: relative;
  font-weight: 300;
  outline: none;
  i.left {
    position: absolute;
    left: 0px;
    height: 45px;
  }
  .icon-chevron-down {
    position: absolute;
    right: 0;
    height: 45px;
    color: rgba($ink, .2);
  }
}

.participation-widget {
  padding: 0 30px 0 20px;
  display: flex;
  flex-direction: column;
  .participation-container, .responses-container {
    display: flex;
    width: 100%;
    // border: 1px red solid;
    margin-bottom: 5px;
  }
  .participation-container {
    p {
      font-size: 18px;
      font-weight: 300;
      > span { font-size: 14px } // %
    }
  }
  .responses-container {
    p span {
      color: rgba($ink, .4);
    }
  }
  h5, p {
    // border: 1px blue solid;
    display: inline-block;
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  h5 {
    text-align: left;
    font-size: 14px;
    color: rgba($ink, .7);

  }
  p {
    text-align: right;
    justify-content: flex-end;
    font-size: 15px;
    color: rgba($ink, .8);
  }
}

.filters {
  padding: 10px 30px 20px 20px;
  .filters-add {
    position: relative;
    width: 100%;
    line-height: 40px;
    background: #e5e1e0;
    border: none;
    &:hover {
      background: #dfdcda;
    }

    i {
      display: inline-block;
      position: absolute;
      left: 55px;
      top: 3px;
      :before {
      }
    }
    span {
      padding-left: 20px;
      display: inline-block;
    }

  }
}
