.side_bar {

  left: $toplevel_width;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  .top_section {
  }
  .side_bar_inner {
    width: 285px;
  }
  .survey-name {
    color: $ink;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 60px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-left: 20px;
    padding-right: 60px; // controls ellipsis
  }
}

.status_date {
  text-align: left;
  padding: 0px 30px 0px 20px;
    margin-bottom: 20px;
    margin-top: -10px;
  p {
    display: inline-block;
    margin: 0;
    &.badge {
      background: #5ac889;
      color: $tan;
      border-radius: 2px;
      font-size: 11px;
      padding: 2px 5px;
    }
    &.time {
      color: #5ac889;
      font-size: 12px;
    }
  }
}












.configure-survey {
  height: 60px;
  width: 45px;
  position: absolute;
  right: 85px;
  top: 0;
  padding: 5px;
  color: rgba($slate, .2);
  transition: color .1s;
  &:hover {
    color: rgba($slate, .5);
  }
}
ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: column;

  li {
    width: 100%;
    height: 60px;
    color: white;
  }
}
.reports-nav-wrapper {
  position: relative;
  padding: 0px 30px 0px 20px;
  .reports-nav {
    display: block;
    line-height: 30px;
    padding: 0;
    text-align: left;
    padding-left: 10px;
    position: relative;
    font-weight: 300;
    outline: none;
    .icon-triangle {
      position: absolute;
      right: 0;
      color: rgba($ink, .2);
      &:before {
        line-height: 35px;
      }
    }
  }
}

ul.options {
  padding: 20px;
  width: 285px;
  margin: 0;
  list-style: none;
  text-align: left;
  z-index: 2;
  padding-right: 30px;
  li {
    position: relative;
    display: block;
    line-height: 38px;
    padding: 0px 10px;
    padding-left: 50px;
    display: block;
    color: rgba($ink, .5);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 300;
    &.selected {
      color: $coral !important;
      &:hover {
        background: transparent;
      }
    }
    .subsection {
      color: rgba($ink, .5);
      p {
        margin: 0;
        font-size: 12px;
        padding-left: 20px;
        line-height: 26px;
        font-weight: 400;
        &.selected {
          color: $coral !important;
        }
      }
    }
    &:hover {
      background: white;
      color: rgba($ink, .75);
    }
    &:last-child {
      border: none;
    }
    i {
      position: absolute;
      left: 0px;
      top: -3px;
    }
    img {
      position: absolute;
      height: 16px;
      width: 16px;
      left: 15px;
      top: 11px;
    }
  }
}




.participation-widget {
  margin: 0 30px 0 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px $faint-border solid;
  padding-top: 20px;
  .participation-container, .responses-container {
    display: flex;
    width: 100%;
    // border: 1px red solid;
    margin-bottom: 5px;
  }
  .participation-container {
    p {
      font-size: 18px;
      font-weight: 300;
      > span { font-size: 14px } // %
    }
  }
  .responses-container {
    p span {
      color: rgba($ink, .4);
    }
  }
  h5, p {
    // border: 1px blue solid;
    display: inline-block;
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  h5 {
    text-align: left;
    font-size: 14px;
    color: rgba($ink, .7);

  }
  p {
    text-align: right;
    justify-content: flex-end;
    font-size: 15px;
    color: rgba($ink, .8);
  }
}

.filters {
  padding: 10px 30px 20px 20px;
  .filters-add {
    position: relative;
    width: 100%;
    line-height: 40px;
    background: #e5e1e0;
    border: none;
    &:hover {
      background: #dfdcda;
    }

    i {
      display: inline-block;
      position: absolute;
      left: 55px;
      top: 3px;
      :before {
      }
    }
    span {
      padding-left: 20px;
      display: inline-block;
    }

  }
}
