.top_level
  = link_to '#', class: 'cultureamplogo' do
    %i.icon-cultureamp_logo{ title: 'Culture Amp' }
  %ul.nav
    %li
      = link_to '#' do
        %i.icon-surveys{ title: 'Culture Amp' }
    %li
      = link_to '#' do
        %i.icon-academy{ title: 'Culture Amp' }
    %li
      = link_to '#' do
        %i.icon-support{ title: 'Culture Amp' }

  %img.company{:src => "images/hooli.jpg"}

