.top_level
  = link_to '#', class: 'cultureamplogo' do
    %i.icon-cultureamp_logo{ title: 'Culture Amp' }
  %ul.nav
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Surveys' do
        %i.icon-surveys
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Academy' do
        %i.icon-academy
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Support Center' do
        %i.icon-support

  %img.company{:src => "images/hooli.jpg"}

