.side_bar
  .side_bar_inner
    .top_section
      %p.survey-name{:title => "Engagement Survey 2016 1st Quarter"}
        Engagement Survey 2016 1st Quarter
      = link_to '#', class: 'configure-survey' do
        %i.icon-wrench
      .status_date
        %p.badge
          OPEN
        %p.time
          Launched April 12

    .reports-nav-wrapper
      = link_to '#', class: 'reports-nav btn' do
        Engineer Manager Report
        %i.icon-triangle
    %ul.options
      %li
        %i.icon-insight
        Insight Dashboard
      %li
        %i.icon-participation
        Participation
      %li.selected
        %i.icon-questions
        Questions
        %div.subsection
          %p.selected
            Rated Questions
          %p
            Select Questions
          %p
            Free Text Questions

      %li
        %img.company{:src => "images/heatmap.png"}
        Heatmaps
      %li
        %i.icon-sentiment
        Sentiment Analysis

    .participation-widget
      .participation-container
        %h5
          Participation
        %p
          92<span>%</span>
      .responses-container
        %h5
          Responses
        %p
          8,723 <span>of 9,450</span>

    .filters
      = link_to '#', class: 'filters-add btn' do
        %i.icon-plus
        %span
          Add Filter
